<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Productos</a>
            <a href="/carts">Carritos</a>
            <a href="/log/in">Iniciar sesión</a>
            <a href="/log/register">Registrarse</a>
        </nav>
    </header>
    <h1>Segunda preentrega Backend</h1>
    {{{body}}}
</body>
</html>